# CMake build directory
/build/

# CMake cache and temporary files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
compile_commands.json

# Editor specific files
.vscode/
.idea/

# Binary files
*.o
*.out
*.exe
jasm

# Test files
output.txt

# Don't ignore the .clang-format file
!.clang-format